@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Poppins;
}

a {
    text-decoration: none;
}

a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all .5s;
}

.active {
    font-weight: bold;
}

li {
    list-style-type: none;
}

.navbar {
    max-height: 68px;
    background-color: goldenrod;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.leftMenu {
    display: flex;
    align-items: center;
}

.rightMenu a {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
}

.leftNavbarLink {
    margin-left: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.mainContent {
    background-color: #d7e2ea;
    min-height: 100vh;
    padding: 40px;
}

.mainContentText p {
    font-size: 10px;
    margin-top: 10px;
    text-align: justify;
}

.mainContentContact {
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.mainContentContact a {
    background-color: black;
    color: white;
    padding: 2.5px 5px;
    border-radius: 5px;
}


.mainContentSocmed {
    display: flex;
    font-size: 10px;
}

.mainContentSocmed ul {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
}

.profile {
    width: 60%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.profileImage {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.profileImage img {
    width: 100%;
}

.profileDesc {
    text-align: center;
    font-size: 10px;
    margin: 10px 0;
    padding-bottom: 10px;
}

@media(min-width:768px) {
    .mainContent {
        display: flex;
        margin: 50px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        align-items: center;
    }

    .mainContentLeft {
        padding: 0 20px;
    }

    .profileImage {
        margin-top: 0;
    }

    .mainContent p,
    .mainContentContact,
    .mainContentSocmed {
        font-size: 14px;
    }

    .profileDesc {
        font-size: larger;
    }
}

@media(min-width: 1024px) {
    .navbar {
        padding: 20px 40px;
        font-size: larger;
    }

    .navbar .logo img {
        width: 50px;
    }
}

/* BELOW ARE CSS FOR CONTACT.HTML */

.formContainer {
    width: 230px;
    margin: auto;
    margin-bottom: 20px;
}

.formHeading {
    margin-top: 30px;
}

@media(min-width:768px) {
    .formContainer {
        width: 300px;
    }
}